language: node_js
node_js: node
services: mongodb
jobs:
  include:
  - stage: Test
     script: npm test
  - stage: Package release
    if: tag IS present
    before_deploy:
    - npm run package
    deploy:
      skip_cleanup: true
      provider: releases
      token: # Generated for pilasbloquesbot following this comment: https://github.com/travis-ci/travis.rb/issues/775#issuecomment-731736809
        secure: LT+lwqBfoOwYhZGF6Aw0sHGht4qCRXaYTfsDD6r0OtCIy7Oh1JmQVaY5IL5ZyQB46ex4zeYbf7cZHJgslUig3Y5oYTxUC3mDy2QmNveWG5EXZbzAktJ/aLDz9qn9y2wQ3lIi/h/9iW/Bx7m7sxPJ7+nCoF84pfk766thL0/vovsmY01eXHWgu6zBaeNc00LCKgGesOoLpnCKoYsNvwTXguzq0xHvto5N4rLg+pWtOsPJxLzob1e2m+f3G4CDg4Duf4nz5Q5gDwgTvTVoNPzBtddU0x8tNH9+Q8DcLG2+PkrgquzrzFoFlbXZeARa1adN+a9NXjFl1tY2yzOpmBLrWFanUStpoyav3wbXOXZOakAD3agE9vufplUK8ebIliIe4tmGbPF+ZhfGsWeKFIXWYGEqiv7LwaEGlN+5DEeVnJF73KGNApUNt8YTkDlPksNE72afc/D7zzsvRz7jpVEn3M3wzMu/SLe2u3N9MPvDomIgaCPNG/JwRLwdqrKRTjH6bOo/89aC+NUn9Gq4ip1LN2c6pEkfYptN7uxLTXXZRQcQk2QzAVg8fWyMyMKBsKsraOI5OCSQ4DZl9XsvvmIGmI8bdZm1Azd06WhJLtlWgWyUsKFlyEtXURPiqgnk1He+kXvKEWf5wO68E+RdaAws8fuxOjkc3vAxJYcyIdaTSTs=
      file:
      - pilasbloques-api.tar.gz 
      on:
        tags: true
        all_branches: true
